table
    tr
        th Currency, you change
        th Your amount in changed currency
        th Currency, you get
        th Your amount in getting currency
        th Currency rate
    tr
        td Canadian dollar (CAD)
        td= amount
        td= currency.currency
        td= +(amount / currency.sell).toFixed(2)
        td= currency.sell

h3= date
h1 You can change your data:

form(action="/change" method="post")
    label(for="currency") Input currency:
    input#currency(name="code" type="text", placeHolder="Input country or country code of currency", value=currency.code)
    label(for="amount") Input amount:
    input#amount(name="amount" type="number", value=amount)
    input(type="submit")

h2 Make transfer you can on <a href="https://www.bmo.com/home/personal/banking/rates/foreign-exchange">Bank of Montreal</a>